/* =========================================
 * Matugen → Rofi Material You Colors
 * ========================================= */

* {
    bg: #101510;
    bg-alt: #1c211b;
    bg-high: #272b26;

    fg: #e6e2d5;
    fg-muted: #cac7b6;

    primary: #ceca75;
    on-primary: #333200;

    primary-container: #4b4900;
    on-primary-container: #eae68e;

    secondary: #b8ccb5;
    secondary-container: #3a4b39;

    outline: #8c9389;
    outline-variant: #424940;

    error: #ffb4ab;
    on-error: #690005;
}
