/* =========================================
 * Matugen → Rofi Material You Colors
 * ========================================= */

* {
    bg: #101510;
    bg-alt: #1c211b;
    bg-high: #272b26;

    fg: #e0e4db;
    fg-muted: #c2c9bd;

    primary: #9ed49d;
    on-primary: #033912;

    primary-container: #1f5027;
    on-primary-container: #b9f0b8;

    secondary: #b8ccb5;
    secondary-container: #3a4b39;

    outline: #8c9389;
    outline-variant: #424940;

    error: #ffb4ab;
    on-error: #690005;
}
