configuration {
    show-icons: true;
}

@import "~/.config/rofi/matugen.rasi"

* {
    font: "JetBrains Mono 10";

    background-color: transparent;

    text-color: @fg;
}

window {
    width: 850px;
    height: 650px;

    background-color: @bg;

    border: 2px;
    border-color: @outline;

    border-radius: 18px;

    padding: 20px;
}

mainbox {
    children: [
        inputbar,
        listview
    ];

    spacing: 15px;
}

inputbar {
    background-color: @bg-alt;

    border: 1px;
    border-color: @outline-variant;

    border-radius: 12px;

    padding: 12px;
}

prompt {
    text-color: @primary;

    padding: 0px 8px 0px 0px;
}

entry {
    text-color: @fg;

    placeholder: "Search wallpaper...";
    placeholder-color: @fg-muted;
}

listview {
    columns: 4;
    lines: 3;
    flow: horizontal; 
    spacing: 10px;

    scrollbar: false;

    fixed-height: true;
    fixed-columns: true;
}

element {
    orientation: vertical;

    background-color: @bg-alt;

    border: 2px;
    border-color: transparent;

    border-radius: 14px;

    padding: 0px;

    spacing: 0px;
}

element selected {
    background-color: @primary-container;

    border-color: @primary;
}

element normal.normal {
    background-color: @bg-alt;
    text-color: @fg;
}

element alternate.normal {
    background-color: @bg-alt;
    text-color: @fg;
}

element selected.normal {
    background-color: @primary-container;
    text-color: @on-primary-container;
}

element-icon {
    size: 150px;
    border-radius: 10px;
    horizontal-align: 0.5;
    vertical-align: 0.5;
}

element-text {
    enabled: false;
}

